*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}
.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color:#FFFFFF;
    max-width: 1536px;
    width: 88%;
    margin: 16px 120px;
    align-items: center;
    /* margin-bottom: -1px;
    margin-top: -0.1px; */

}
.nav-button{
    background-color: #469165;
    border: none;
    width: 164px;
    height: 44px;
    padding: 8px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: #FFFFFF;
}
#banner{
    max-width: 1536px;
    width: 100%;
    padding: 115.5px 120px 179.5px 120px;
    background-image: url('./assets/hero-bg.png');
}
.early{
    width: 229px;
    height: 35px;
    background-color: #FFFFFF;
    color: #30B868;
    font-size: 16px;
    font-weight: 400;
    border-radius: 1000px;
    cursor: pointer;
}
.banner-container{
    text-align: center;
    margin: 51px 295px 16px 295x;
    height: 379px;
    /* margin: 115.5px 120px 179.5px 120px; */
}

#banner .banner-container .main-heading p{
    margin: 0 120px;
    font-size: 18px;                                    
    line-height: 24px;
    color: #FFFFFF;

}
#main1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    opacity: 90%;
    margin-top: 51px;
}
#main2{
    color: #30B868;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    opacity: 90%;

}

.banner-button{
    margin-top: 32px;
    /* margin-bottom: 179.5px;  */
     /* width: 100%;  */
    gap: 16px;
    display: flex;
    justify-content: center;
}
.banner-button .button-1,.last-button{
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 4px;
    width: 251px;
    height: 52px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 16px 10px 16px 16px;
    border: none;

}
.banner-button .button-1 img{
    width: 20px;
    height: 20px;
    text-align: center;
    margin-left: 16px;
    margin-top: -4.0px;
}
.banner-button .button-1 h6,.last-button{
    font-size: 16px;
}
.banner-button .button-2{
    color: #FFFFFF;
    border-radius: 4px;
    width: 198px;
    height: 52px;
    background: none;
    cursor: pointer;
    
}
.feature-section{
    background-color: #FFFFFF;
}
.features{
   margin: 0 auto;
   text-align: center;
   max-width: 1536px;
   height: 152px;
   max-height: 152px;
   width: 88%;
   justify-content: center;
   padding-top: 70px;
   margin-bottom: 44px;
}
.features h1{
  margin: 0;
  font-size: 48px;
  font-weight: bold;
  line-height: auto;
  color: #001931;
}

.features p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
.card,.card-four{
    width: 350px;
    height: 300px;
     justify-content: center; 
     align-items: center;
     text-align: center;
    color: #001931;
    font-weight: 600;
    line-height: auto;
    padding: 80px 24px 24px ;
}

.card-four p, .card p{
    color: #627382;
    font-size: 14px;
    line-height: 20px;
}
.card img, .card-four img{
    background-color: #F95555;
    color: #FFFFFF;
    border-radius: 50px;
    padding: 16px;
}
.card h2{
    padding: 16px 0;
}
.parent{
    display: flex;
    gap: 24px;
}
.last-banner-section{
    width: 100%;
    max-width: 1536px;
    max-height: 840px;
    height: 806px;
    display: flex;
}
.last-banner-image img{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}
.last-banner-content{
    padding: 102px 0 102px 60px;
}
.last-banner-content h2{
    padding-top: 16px;
    width: 90%;
    max-width: 700px;
    height: 116px;
    font-size: 700;
    font-size: 48px;
    line-height: auto;
    color: #001931;
}
.last-banner-content h4{
    color: #469165;
    line-height: 20px;
    font-weight: 500;
    font-size: 16px;
    width: 700px;
    height: 20px;
}
.last-banner-content p{
    padding-top: 16px;
    width: 65%;
    max-width: 700px;
    height: 60px;
    color: #627382;
    padding-bottom: 40px;
}
.last-banner-first-div{
    display: flex;
    padding: 120px;
    background-color: #FFFFFF;
}
.last-banner-content .checkcircle{
    margin-top: 46px;
}
.last-banner-content .checkcircle h5{
    padding: 5px;
    
}
.last-banner-content .checkcircle img{
    
}
.last-section{
    margin-top: 120px;
    margin-left: 100px;
}
.last-content{
    max-width: 1536px;
    width: 88%;
    max-height: 384px;
    height: 369px;
    padding: 2px 120px 120px 120px;
    justify-content: center;
    text-align: center;
}
.last-content h1{
    font-weight: bold;
    font-size: 40px;
    line-height: auto;
    color: #001931;
    /* max-width: 1536px;
    width: 83%; */
    /* text-align: center; */
}
.last-content p{
    margin-top: 16px;
    margin-bottom: 24px;
    margin-left: 23px;
    color: #627382;
}
.last-button{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 425px;
    width: 194px;
    height: 52px;
}
.last-button img{
    padding-left: 10px;
}
.footer-main{
    background-color: #001931;
    max-width: 1596px;
    width: 100%;
    height: 334px;
    border: 1px solid #001931;
}
.footer-content{
    max-width: 1536px;
    width: 88%;
    height: 64px;
    margin:  120px 120px 0 120px;
    display: flex;
    justify-content: space-between;
    padding-right: 107px;
    margin-bottom: 80px;
}
.footer-social-contact{
    color: #FFFFFF;
}
.social-logo{
    display: flex;
    gap: 16px;
    padding-top: 16px;
}
/* hr{
    max-width: 1536px;
    width: 88%;
    padding: 80px 120px ;
} */

hr{
  border: none;              
  height: 1px;  
  margin: 0 120px 30px 120px;             
  background-color: #E5E7EB; 
  /* margin: 24px; */
  opacity: 20%;
  /* max-width: 1536px;
  width: 88%; */
  margin-left: 130px;
  margin-right: 130px;
  
}
.copyright{
    font-size: 16px;
    line-height: 24px;
    max-width: 1536px;
    width : 1360px;
   padding-left: 30px;
    color: #FAFAFA;
    text-align: center;
    padding: 0 30px 120px;  
    justify-content: center; 
    margin-left: 50px; 
}
